@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(back.jpg) no-repeat;
  background-size: cover;
}
.login-box{
  width: 400px;
  position: absolute;
  top: 55%;
  left: 27%;
  transform: translate(-50%,-50%);
  color:red;
}
.login-box h1{
  float: left;
  font-size: 60px;
  font-weight:800px;
  margin-bottom: 50px;
  padding: 13px 0;
  background-color: whitesmoke;
  border-radius: 20px;
  color: brown;
  opacity: 0.8;
  font-style: oblique;
}
.textbox{
  width: 80%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 3px solid whitesmoke;
}
.textbox i{
  width: 40px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 25px;
  width: 50%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 80%;
  background: none;
  border: 4px solid ;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}
